<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOS</title>
</head>
<body>
    
    {% if user.is_authenticated %}
    <a href="{% url 'createtodo' %}">CREATE</a><br>
    <a href="{% url 'completed' %}">Completed Todos</a><br> 
    <a href="{% url 'currenttodos' %}">Current Todos</a><br>
    Logged in as {{user.username}}
    <br>
  
    <form method="post" action="{% url 'logoutuser' %}">
        
    {% csrf_token %}
        <input type="submit" value="Logout">

    </form>
    {% else %}
    <a href="{% url 'signupuser' %}">Signup</a>
    <a href="{% url 'loginuser' %}">login</a>
    {% endif %}


    {% block content %}

    {% csrf_token %}

    {% endblock %}
</body>
</html>