{% extends 'base.html' %}
{% block content %}
<h1>{{error}}</h1>
{{todo.title}}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Update</button>
</form>
<form method="post" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    
    <button type="submit">Mark As Complete</button>
</form>
    <form method="post" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        
        <button type="submit">DELETE</button>
</form>
{% endblock %}