{% extends 'base.html'%}
{% load static%}

{% block content %}
   {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{messages}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}

      <div class="container text-center">
        <div class="row">
            <div class="col-8">
            
            <h1>{{prof.user.username}}'s profile</h1>
            {% for t in tweet %}
            <div class="alert alert-warning" role="alert">
                
                   {{t.body}}<br>{{t.created|date:'DATETIME_FORMAT'}}
             </div>
            {% endfor %}
            </div>
            <div class="col -4">
            <!-- <strong>follows</strong><br> -->
           
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'images/default.jpg' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">FOLLOWING</h5>
                                {% for  following in prof.follows.all %}
                            
                            <a href="{% url 'profile' following.user.id %}"><p class="card-text"> @{{following.user.username|lower}}</p></a>
                            {% endfor %}
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            
                            </div>
                        </div>
                        </div>
                    </div>

                   
                    <hr>
                    
           
            
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'images/default.jpg' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">FOLLOWERS</h5>
                        {% for  followers in prof.followed_by.all %}
                        <a href="{% url 'profile' followers.user.id %}"><p class="card-text"> Link:@{{followers.user.username|lower}}</p></a>
                        {% endfor %}
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    </div>
                </div>


                <hr>
            <form method="post">
                {% csrf_token %}
                    {% if prof in user.profile.follows.all %}
                    <button type="submit" name="follow" value="unfollow" class="btn btn-outline-danger">Unfollow {{prof.user.username}}</button>
                    {% else %}
                    <button type="submit" name="follow" value="follow" class="btn btn-outline-success">Follow {{prof.user.username}}</button>
                    

                    {% endif %}
                </form>
<br>
                {% if request.user.id == prof.user.id %}
                <a href="{% url 'update_user' prof.user.id %}" class="btn btn-secondary">update</a>
                {% endif%}


        </div>

        </div>
      </div>
    

{% endblock %}