{% extends 'base.html' %}
{% block content %}


<form method="post">
    {% csrf_token %}
    <input type="text" value="vivek" name="test" >
    <button type="submit">submit</button>
</form>

<div class="row">

    <div class="col-4">

    </div>
    <!--  -->
    <div class="col-5">
        
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">username</label>
                <input type="text" class="form-control" placeholder="enter your username" name="username" required value="{{user.username}}">
                
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">FIRST NAME</label>
                <input type="text" class="form-control" name="first_name" value="{{request.user.first_name}}">
                
              </div>
        
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">last name</label>
              <input type="text" class="form-control"  name="last_name" value="{{user.last_name}}">
              
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" value="{{user.email}}">
                
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password1" >
            </div>
            <HR>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">RE-ENTER Password</label>
                <input type="password" class="form-control" name="password2">
              </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

</div>


{% endblock %}