{% extends 'base.html' %}

{% block content %}

<div class="row gy-3 my-3">
    <!-- Grid total is 12 so divide according to that -->
    <!-- 12/6=2 that is 2 images in smaller screens
    12/4=3 that is 3 images in medium screen
    12/3=4 that is 4 images in larger screen -->
    {% for p in product %}
    <div class="col-sm-6 col-md-4 col-lg-3">
        
        <div class="card">
            
            <img src="{{p.product_image.url}}" alt="Sasuke" class="w-100">
                <div class="card-body">
                <h5 class="card-title">{{p.name}}</h5>
                <p class="card-text">{{p.description|slice:"50"}}</p>
                <span  class="float-start">{{p.selling_price}}</span>
                <span class="float-end">{{p.original_price}}</span><br>
                <a href="{% url 'product' p.id %}" class="btn btn-primary ">view</a>
                </div>
        </div>
        
    </div>
    {% endfor %}
</div>


{% endblock %}