{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body">
                    {% if wishlist %}
                    {% for item in wishlist %}
                    <div class="row product_data">
                        <div class="col-md-1 my-auto">
                            <img src="{{item.product.product_image.url}}" height="70px" width="70px" alt="img">

                        </div>
                        <input type="hidden" class="prod_id" value="{{item.product_id}}">
                        <div class="col-md-3 my-auto">
                            <h6>{{item.product.name}}</h6>
                        </div>
                        <div class="col-md-1 my-auto">
                            <h6>{{item.product.selling_price|stringformat:'d'}}</h6>
                        </div>

                        <div class="col-md-2 my-auto">
                            <a class="btn btn-primary" href="{% url 'product' item.product_id%}">View</a>
                        </div>
                        
                        
                        <div class="col-md-2 my-auto">
                            <button class="btn btn-outline-danger delete-wishlist-item "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                              </svg> Delete</button>
                        </div>

                    </div>
                    {% endfor %}
                    {% else %}
                    <h4>Your Wishlist  is empty</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).on('click','.delete-wishlist-item',function(e){

        e.preventDefault();
        
        var productid=$(this).closest('.product_data').find('.prod_id').val(); 
        //var productqty=$(this).closest('.product_data').find('.prod_qty').val(); 
        
        console.log(productid)
        //console.log(productqty)

        

        $.ajax({
            method:"POST",
            url:"{% url 'deletewishlistitem' %}",
            data:{
                productid:productid,
               // productqty:productqty,
                csrfmiddlewaretoken:'{{csrf_token}}',
                action:'post'

            },
            success:function(json){

                alertify.success(json.mssg);
                location.reload();
                
                

            },
            error: function(xhr,errmsg,err){

            }

        }) 

    })

</script>

{% endblock %}